extends ./layout.jade

block content
	nav.navbar.navbar-default
		.collapse.navbar-collapse#tabs
			ul.nav.navbar-nav
				+tab("my-chimneys").class("active")
					div My Chimneys <span class="sr-only">(current)</span>
				+tab("search-chimneys")
					div Search For chimneys
				+tab("my-swaps")
					div My Chimney Swaps
					span.badge
	.tab-content
		.tab-pane.active#my-chimneys(role="tabpanel")
			.container: div.row
				for chimney in myChimneys
					+chimneyThumbnail(chimney)
		.tab-pane#search-chimneys(role="tabpanel")
			.container: div.row
				for chimney in sharedChimneys
					+chimneyThumbnail(chimney)
		.tab-pane#my-swaps(role="tabpanel")
			div My Swaps

